body 
{ 
font-family:”Comic Sans MS”, cursive; 
font-size:10px; 
text-align:center; 
} 
span 
{ 
font-family:”Times New Roman”, Times, serif; 
font-size:20px; 
font-weight:900;
}
.c1 
{ 
width:400px; 
height:240px; 
border:solid 3px gray; 
background-image:url(../img/card.png); 
-moz-border-radius: 15px; 
-webkit-border-radius: 15px; 
position:absolute; 
} 
.c2 
{ 
width:120px; 
height:50px; 
border-bottom:outset 1.5px gray; 
position:absolute; 
top:30px; 
left:10px;

} 
.c3 
{ 
width:120px; 
height:80px; 
padding-top:10px; 
border-top:outset 1px gray; 
position:absolute; 
top:140px; 
left:200px; 
text-align:left; 
} 